/* editando as fontes */
@font-face {
    font-family: "MinhaFonte";
    src: url(BlackLabel-Light.ttf) format("truetype");
}
h1, h3 {
    color: rgb(201, 158, 39);
}
h1, h3, p, li {
    font-family: MinhaFonte;
}

/* Edicao do conteudo */
body {
    background: url(blur-chart-data-159888.jpg);
}
.app h3 {
    text-align: center;
}

.moedas {
    text-align: center;
    background-color: rgb(133, 4, 32);
}
.moedas ul {
    list-style-type: none;
    text-align: center;
    display: inline-flex;
}
.moedas li {
    margin: 25px;
}